{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shepherds</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Fontawesome Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="{% static 'javascript/script.js' %}" defer></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h2 class="logo"><a href="#">The Shepherds Management Center</a></h2>
        <input type="checkbox" id="menu-toggler">
        <label for="menu-toggler" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </label>
        <ul class="all-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <section class="homepage" id="home">
      <div class="content">
        <div class="text">
          <h1>Management at it's peak</h1>
          <p>
            Join the moving hand in management ideology. <br> We serve with the right skill.
          </p>
        </div>
        <a href="#services">Our Services</a>
      </div>
    </section>

    <section class="services" id="services">
      <h2>Our Services</h2>
      <p>What we do for our cherished customers.</p>
      <ul class="cards">
        <li class="card">
          <img src="{% static 'images/business-management.jpg' %}" alt="img">
          <h3>Bussiness management</h3>
          <p>Commit your bussiness into our hands for progress.</p>
        </li>
        <li class="card">
          <img src="{% static 'images/institute.jpg' %}" alt="img">
          <h3>Institution management</h3>
          <p>We manage the right people at the right time.</p>
        </li>
        <li class="card">
          <img src="{% static 'images/OIP (3).jpg' %}" alt="img">
          <h3>Church management</h3>
          <p>We can religiously manage your sarvice.</p>
        </li>
        <li class="card">
          <img src="{% static 'images/OIP (2).jpg' %}" alt="img">
          <h3>Logistics management</h3>
          <p>Relax while we manage your Logistics.</p>
        </li>
        <li class="card">
          <img src="{% static 'images/chair.jpg' %}" alt="img">
          <h3>Rental services</h3>
          <p>We rent all kind of maerials.</p>
        </li>
        <li class="card">
          <img src="{% static 'images/vector-web-development-web-banner.jpg' %}" alt="img">
          <h3>I.T services</h3>
          <p>We offer all kinds of technological services.</p>
        </li>
      </ul>
    </section>

    <section class="portfolio" id="portfolio">
      <h2>Our Portfolio</h2>
      <p>Take a look at some of our memorable camping adventures.</p>
      <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="carousel">
          <li class="card">
            <div class="img"><img src="{% static 'images/blogger.jpg' %}" alt="img" draggable="false"></div>
            <h2>Blogging website</h2>
            <span>Blogging website</span>
          </li>
          <li class="card">
            <div class="img"><img src="{% static 'images/dataAna.jpg' %}" alt="img" draggable="false"></div>
            <h2>Data Analyst</h2>
            <span>Data Analyst</span>
          </li>
          <li class="card">
            <div class="img"><img src="{% static 'images/appDev.jpg' %}" alt="img" draggable="false"></div>
            <h2>Application Development</h2>
            <span>Application Development</span>
          </li>
          <li class="card">
            <div class="img"><img src="{% static 'images/fullDev.jpg' %}" alt="img" draggable="false"></div>
            <h2>Full Stack Development</h2>
            <span>Full Stack Development</span>
          </li>
          <li class="card">
            <div class="img"><img src="{% static 'images/photographer.jpg' %}" alt="img" draggable="false"></div>
            <h2>Photographing</h2>
            <span>Photographing</span>
          </li>
          <li class="card">
            <div class="img"><img src="{% static 'images/OIP (1).jpg' %}" alt="img" draggable="false"></div>
            <h2>Construcion service</h2>
            <span>Construcion service</span>
          </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
    </section>

    <section class="about" id="about">
      <h2>About Us</h2>
      <p>Discover our story in providing camping services.</p>
      <div class="row company-info">
        <h3>Our Story</h3>
        <p>Experience the excellence of our management services, where we have been offering high-quality camping essentials and gear for outdoor enthusiasts for over a decade. Our commitment to quality and customer satisfaction ensures that every adventurer can rely on us for their camping needs.</p>
      </div>
      <div class="row mission-vision">
        <h3>Our Mission</h3>
        <p>At The Shepherds Management Center, our mission is to equip outdoor enthusiasts with top-notch managing and essentials that enhance their outdoor experiences. We strive to provide reliable, durable, and innovative products that contribute to memorable adventures and lasting memories.</p>
        <h3>Our Vision</h3>
        <p>Our vision is to become the go-to destination for management , known for our extensive selection of premium management and exceptional customer service. We aspire to inspire and enable people to embrace the beauty of nature and create unforgettable management experiences.</p>
      </div>
      <!--<div class="row team">
        <h3>Our Team</h3>
        <ul>
          <li>John Doe - Founder and CEO</li>
          <li>Jane Smith - Gear Specialist</li>
          <li>Mark Johnson - Customer Representative</li>
          <li>Sarah Brown - Operations Manager</li>
        </ul>
      </div>-->
    </section>

    <section class="contact" id="contact">
      <h2>Contact Us</h2>
      <p>Reach out to us for any inquiries or feedback.</p>
      <div class="row">
        <div class="col information">
          <div class="contact-details">
            <p><i class="fas fa-map-marker-alt"></i> Tema, Ghana</p>
            <p><i class="fas fa-phone"></i> (+233)261254475</p>
            <p><i class="fas fa-envelope"></i> shepherdrichard19@gmail.com</p>
            <p><i class="fas fa-clock"></i> Monday - Sunday: 7:00 AM - 10:00 PM</p>
            
          </div>          
        </div>
        <div class="col form">
          <form>
            <input type="text" placeholder="Name*" required>
            <input type="email" placeholder="Email*" required>
            <textarea placeholder="Message*" required></textarea>
            <button id="submit" type="submit">Send Message</button>
          </form>
        </div>
      </div>
    </section>

    <footer>
      <div>
        <span>Copyright © 2023 All Rights Reserved</span>
        <span class="link">
            <a href="#">Home</a>
            <a href="#contact">Contact</a>
        </span>
      </div>
    </footer>

  </body>
</html>
